
<ul class="cus-footer__top__container__row__column__list">

    <li class="cus-footer__top__container__row__column__list__item">
        <i class="fa-solid fa-location-dot"></i>
       random city,random street,123
    </li>
    <li class="cus-footer__top__container__row__column__list__item">
        <i class="fa-regular fa-envelope"></i>
        Mail Us:
        <a href="#" class="cus-footer__top__container__row__column__list__item__link">
            random@gmail.com
        </a>
    </li>
    <li class="cus-footer__top__container__row__column__list__item">
        <i class="fa-solid fa-phone"></i>
        Phone:
        <a href="#" class="cus-footer__top__container__row__column__list__item__link">
            random +994 50 645 43 34
        </a>
    </li>
</ul>